body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    width: 45%;
}

ul {
    list-style-type: none;
    padding: 0;
}

input {
    width: 70%;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
